.blogs .blog {
  margin-bottom: 30px;
  padding: 10px;
}
/* .filter{
  background-color: var(--secondary-dark-color);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 20px 0;
} */
.filter {
  position: sticky;
  top: 0;
  margin-bottom: 50px;
  z-index: 1000;
  /* background-color: var(--secondary-dark-color); */background-color: transparent;
  padding: 10px 20px;
}
.latest,
.posts {
  color: var(--white-color);
  font-size: 18px;
  padding: 0 20px 0 0;
}
.icon {
  font-size: 8px;
  border: 1px solid var(--white-color);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.post-icon {
  border: none;
  font-weight: bold;
  margin-right: 4px;
  font-size: 15px;
}
.arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0 0 6px;
}
.dorpdown-menu {
  position: absolute;
  right: -85px;
  top: 40px;
  background-color: var(--secondary-dark-color);
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  transition: var(--main-transition);
  display: none;
}
.dorpdown-menu.active {
  display: block;
}
.dorpdown-menu .category {
  transition: var(--main-transition);
  color: var(--white-color);
}
.dorpdown-menu .category:hover {
  color: var(--main-color);
}
.search .form-control {
  border: none;
  box-shadow: none;
  padding: 8px 35px;
  border-radius: 23px;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  color: var(--white-color);
}
.search .form-control::placeholder {
  color: var(--secondery-color);
}
.search .search-icon {
  color: var(--white-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
