* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #00c896;
  --secondery-color: #bababa;
  --white-color: #fff;
  --dark-color: #111111;
  --secondary-dark-color: #222;
  --main-transition: 0.4s;
}

body {
  background-color: #050505;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* section title */
.section-title {
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.section-title h2 {
  font-family: "Berkshire Swash", serif;
  color: var(--main-color);
  font-size: 36px;
}

.section-title p {
  color: var(--secondery-color);
}

.section-title::after {
  content: "";
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  margin-left: -30px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 10px dotted var(--main-color);
}

.loader {
  background: url("../imgs/ezgif-1-db85b09ede.gif") 50% 50% no-repeat
    rgb(0, 0, 0);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* header */
.header {
  padding: 30px 20px;
}

.header .header-content {
  padding: 5px;
  border-radius: 65px;
  /* background-color: #5a5a5a61; */
  background-color: var(--dark-color);
}

@media (max-width: 991px) {
  .header .header-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
  }

  .header .header-content > div {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.header .profile-img img {
  width: 68px;
  border-radius: 50%;
  display: block;
  margin-right: 15px;
}

.header .info h1 {
  font-size: 18px;
  color: var(--white-color);
}

.header .info h1 span {
  font-family: "Berkshire Swash", serif;
  color: var(--main-color);
}

.header .info .name {
  color: var(--white-color);
  font-size: 16px;
  line-height: 19px;
}
.header .info .name span {
  display: block;
}

.header .availablity {
  border: 1px solid;
  text-align: center;
  padding: 5px 20px 5px 22px;
  position: relative;
  border-color: var(--main-color);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.header .availablity p {
  margin: 0;
  color: #bababa;
}

.header .availablity::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.header .social-links a {
  padding: 6px;
  font-size: 20px;
  color: #bababa;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}

.header .social-links a:hover {
  color: var(--main-color);
}

/* about */
.about,
.skills,
.contactus {
  padding: 60px 20px;
  background-color: var(--dark-color);
  border-radius: 50px;
}

.about {
  background-image: url("../imgs/about-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.about .container {
  position: relative;
}
@media (min-width: 996px) {
  .about .container {
    padding: 0 50px;
  }
}
.about .about-img-container {
  border-right: 1px solid #bababa59;
}
@media (max-width: 991px) {
  .about .about-img-container {
    border: none;
  }

  .about .about-img {
    padding: 0 0 10px;
  }
}
.about .about-img img {
  max-width: 100%;
}
.about .about-img .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  color: var(--white-color);
  text-align: center;
  -webkit-transform: translate(-52%, -50%);
  -moz-transform: translate(-52%, -50%);
  -ms-transform: translate(-52%, -50%);
  -o-transform: translate(-52%, -50%);
}
.about .about-img .info p {
  margin-bottom: 0;
}
.about .about-img .info .auto-type {
  color: #0067ff;
}
.about .about-img-info .about-text {
  color: var(--secondery-color);
  font-size: 15px;
  margin-bottom: 20px;
}
.more-about-me {
  display: block;
  margin-bottom: 20px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-dark-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-about-me:hover span svg {
  transform: translateX(5px);
}
.more-about-me span {
  margin-top: 3px;
  margin-left: 8px;
  font-size: 14px;
}
.more-about-me svg {
  transition: 0.5s all;
}
.about .about-img-info ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .about .about-img-info ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about .about-img-info ul li {
  color: var(--white-color);
}

.about .about-img-info ul li svg {
  font-size: 20px;
  color: #019b74;
  margin-right: 15px;
}

.about .about-img-info ul li a {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.about .about-content {
  padding-left: 10px;
}

@media (max-width: 767px) {
  .about .about-content {
    padding-left: 0;
  }
}

.about .about-content p {
  font-size: 15px;
  color: var(--white-color);
  line-height: 1.8;
  margin-bottom: 0;
}

.about .about-content .about-content-header {
  color: var(--main-color);
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .about .about-content .about-content-header {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .about .education {
    margin-top: 30px;
  }
}

/* resume */
.resume,
.projects,
.blogs,
.testimonials {
  padding: 60px 20px;
}

.resume .subtitle {
  color: var(--white-color);
  font-size: 18px;
  background: #015943;
  padding: 14px 20px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  width: fit-content;
  margin-bottom: 0;
  position: relative;
}

.resume .subtitle svg {
  margin-right: 5px;
}
/* skills */
/* .skills .technical-skills > section {
  flex: 1;
} */
.skills .technical-skills .title {
  text-align: center;
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
}
@media (max-width: 467px) {
  .skills .technical-skills {
    flex-direction: column;
  }
}
.skills .skill {
  border: 1.7px solid rgba(0, 200, 150, 0.637);
  border-radius: 5px;
  margin: 15px;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .skill:hover {
  border-color: var(--main-color);
  transform: scale(1.05);
}
.skills .skill img {
  /* width: 80px; */
  max-width: 100%;
}
/* projects */
.projects .project {
  box-shadow: 0 0 10px #00c896a3;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .projects .project {
    margin-bottom: 30px;
  }
}
.projects .project-header {
  position: relative;
}
.projects .project-header img {
  max-width: 100%;
  border-radius: 5px 5px 0px 0;
}
.projects .project-header .project-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px 5px 0px 0;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.6s;
}
.projects .project-header:hover .project-header-overlay {
  opacity: 1;
  transform: scale(1);
}
.projects .project-header .project-header-overlay a {
  display: block;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 20px;
  color: var(--white-color);
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  transition: all 0.5s;
}
.projects .project-header .project-header-overlay a:hover {
  background: none;
  color: var(--main-color);
}
.projects .project-body,
.projects .project-footer {
  padding: 20px;
}
.projects .project-body .techologies .techo-item,
.blogs .blog-header .blog-techno {
  margin-right: 10px;
  background-color: var(--secondary-dark-color);
  padding: 3px 8px;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: bold;
}
.projects .project-body .info .project-name,
.blogs .blog-body .blog-title {
  color: var(--white-color);
  font-size: 20px;
  font-weight: normal;
  margin-top: 12px;
}
.projects .project-body .info .project-description,
.blogs .blog-body .blog-description {
  color: var(--secondery-color);
  font-size: 14px;
  line-height: 1.8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.projects .project-footer .project-live {
  display: block;
  margin-right: 10px;
  background-color: var(--secondary-dark-color);
  padding: 8px 16px;
  border-radius: 5px;
  color: #00c896b3;
  width: fit-content;
  margin-left: auto;
  font-size: 14px;
  transition: 0.4s all;
}
.projects .project-footer .project-live:hover {
  color: var(--main-color);
}
.projects .project-footer .project-live span {
  margin-left: 4px;
  font-size: 12px;
}
.projects .more-about-me {
  margin-top: 30px;
}
/* blogs */
.blog {
  cursor: pointer;
}
@media (max-width: 991px) {
  .blog {
    margin-bottom: 30px;
  }
}
.blog .blog-body .blog-title {
  margin-top: 25px;
  transition: var(--main-transition);
}
.blogs .blog-body .blog-description {
  font-size: 16px;
}
.blogs .blog-footer {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 10px;
  margin: 30px 0 0;
}

.blogs .blog-footer .more-about-me {
  background: none;
  display: block;
  text-align: left;
  padding: 0;
  display: block;
  border-radius: 5px;
  margin-bottom: 0;
  color: var(--white-color);
  transition: var(--main-transition);
}
.blogs .blog-footer .read-time{
  font-size: 12px;
  color: var(--white-color);
}
.blog:hover .blog-title {
  color: var(--main-color);
}
.blog:hover .blog-footer a{
  color: var(--main-color);
}
/* testimonials */
.testimonials .testimnoials-header {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}

.testimonials .testimnoials-header::after {
  content: "";
  display: block;
  width: 60px;
  margin-left: -30px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.testimonials .testimonials-single .testimnoials-img img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.testimonials .testimonials-single .testimnoials-img {
  position: relative;
  margin-bottom: 20px;
}

.testimonials .testimonials-single .testimnoials-img::before {
  content: "\f10d";
  font-family: FontAwesome;
  display: block;
  width: 32px;
  height: 32px;
  background: #03a67d;
  color: var(--white-color);
  line-height: 32px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 56%;
  top: 2px;
  z-index: 1;
}

.testimonials .testimonials-single h3 {
  font-family: "Berkshire Swash", cursive;
  font-size: 24px;
  color: var(--white-color);
  font-weight: normal;
  margin-bottom: 10px;
}

.testimonials .testimonials-single h4 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
}

.testimonials .testimonials-single p {
  color: var(--secondery-color);
  font-size: 14px;
  line-height: 1.8;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .testimonials .testimonials-single p {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .testimonials .testimonials-single p {
    width: 100%;
  }
}

.testimonials .swiper {
  height: 480px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .testimonials .swiper {
    height: 600px;
  }
}

@media (max-width: 991px) {
  .testimonials .swiper {
    height: 550px;
  }
}

.testimonials .swiper-slide {
  width: 100%;
}

.testimonials .pagination {
  text-align: center;
  margin-top: 20px;
}

.testimonials .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid var(--secondary-dark-color);
  opacity: 1;
  background: none;
  transition: all 0.4s;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

/* contact */
.contactus {
  /* background-image: url("../imgs/contactus.webp"); */
  background-image: url("../imgs/contactus.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .contactus {
    background-position: initial;
  }
}

.contactus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.contactus .form-group {
  margin-bottom: 1rem;
}

.contactus .contact-form .form-control {
  /* background: #222; */
  background: rgb(34 34 34 / 68%);
  border: none;
  border-radius: 0;
  height: auto;
  padding: 14px 20px;
  border: 1px solid #333;
  margin-bottom: 10px;
  resize: none;
  outline: 0;
  box-shadow: none;
  color: #fff;
}

.contactus .contact-form .form-control::placeholder {
  color: var(--secondery-color);
}

.resume .edu-cards .btn-contact,
.contactus .btn-contact {
  background: none;
  display: inline-block;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 12px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.4s;
}

.resume .edu-cards .btn-contact:hover,
.contactus .btn-contact:hover {
  background-color: #000;
  color: var(--white-color);
}

/* footer */
footer {
  padding: 50px 0;
}

@media (max-width: 767px) {
  footer {
    padding-bottom: 80px;
  }
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li a {
  padding: 15px;
  color: var(--secondery-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

footer ul li a:hover {
  color: var(--main-color);
}
/* navigation */
.navigation {
  position: fixed;
  z-index: 2000;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

@media (max-width: 767px) {
  .navigation {
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    bottom: 25px;
  }
}
.navigation .icon {
  width: 20px;
  height: 20px;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .icon .nav-link {
  color: var(--secondery-color);
  font-size: 20px;
  transition: var(--main-transition);
}

.navigation .nav-link.active {
  color: var(--main-color);
}

.navigation .nav-link:hover {
  color: var(--main-color);
}

.navigation .nav-link svg {
  padding: 10px;
}
/* .navigation .tooltip {
  position: absolute;
  color: white;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  background-color: #bababa4f;
  padding: 5px;
}
@media (max-width: 767px) {
  .navigation .tooltip {
    display: none;
  }
}
.navigation .tooltip::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid;
  border-color: transparent var(--main-color) transparent transparent;
}
.navigation  .nav-link:hover + .tooltip,
.navigation  .nav-link.active + .tooltip {
  opacity: 1;
} */
