* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #00c896;
  --secondery-color: #bababa;
  --white-color: #fff;
  --dark-color: #111111;
  --secondary-dark-color: #222;
  --main-transition: 0.3s;
}

body {
  background-color: #050505;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* section title */
.section-title {
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.section-title h2 {
  font-family: "Berkshire Swash", serif;
  color: var(--main-color);
  font-size: 36px;
}

.section-title p {
  color: var(--secondery-color);
}

.section-title::after {
  content: "";
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  margin-left: -30px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 10px dotted var(--main-color);
}

/* header */
.header {
  padding: 30px 20px;
  /* width: 1000px;
  margin: 0 auto; */
}

.header .header-content {
  padding: 5px;
  border-radius: 65px;
  /* background-color: #5a5a5a61; */
  background-color: var(--dark-color);
}

@media (max-width: 991px) {
  .header .header-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
  }

  .header .header-content > div {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.header .profile-img img {
  width: 68px;
  border-radius: 50%;
  display: block;
  margin-right: 15px;
}

.header .info h1 {
  font-size: 18px;
  color: var(--white-color);
}

.header .info h1 span {
  font-family: "Berkshire Swash", serif;
  color: var(--main-color);
}

.header .info h4 {
  color: var(--white-color);
}

.header .info h3 {
  color: var(--white-color);
}

.header .info h4 {
  font-size: 16px;
  line-height: 19px;
}

.header .info h4 span {
  display: block;
}

.header .availablity {
  border: 1px solid;
  text-align: center;
  padding: 5px 20px 5px 22px;
  position: relative;
  border-color: var(--main-color);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.header .availablity p {
  margin: 0;
  color: #bababa;
}

.header .availablity::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.header .social-links a {
  padding: 6px;
  font-size: 20px;
  color: #bababa;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}

.header .social-links a:hover {
  color: var(--main-color);
}

/* about */
.about,
.skills,
.contactus {
  padding: 100px 0;
  background-color: var(--dark-color);
  border-radius: 50px;
}

.about {
  background-image: url("../imgs/about-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.about .container {
  position: relative;
}

.about .about-img-container {
  border-right: 1px solid var(--main-color);
}

@media (max-width: 767px) {
  .about-img-container {
    margin-bottom: 30px;
  }
}

.about .about-img img {
  max-width: 100%;
}

.about .about-img .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  color: var(--white-color);
  text-align: center;
  -webkit-transform: translate(-52%, -50%);
  -moz-transform: translate(-52%, -50%);
  -ms-transform: translate(-52%, -50%);
  -o-transform: translate(-52%, -50%);
}

.about .about-img ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .about .about-img ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about .about-img ul li {
  color: var(--secondery-color);
}

.about .about-img li i {
  font-size: 20px;
  color: #019b74;
  margin-right: 15px;
}

.about .about-img li a {
  color: #05be90;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.about .about-img li a:hover {
  color: #06e8af;
}

.about .about-content {
  padding-left: 10px;
}

.about .about-content p {
  font-size: 14px;
  color: var(--secondery-color);
  line-height: 1.8;
}

/* @media (max-width: 767px) {
  .about .about-content p {
    width: 600px;
  }
} */

.truncate {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  cursor: pointer;
}

.resume,
.testimonials {
  padding: 100px 0;
}

.resume .subtitle {
  color: var(--white-color);
  font-size: 18px;
  background: #015943;
  padding: 14px 20px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  width: fit-content;
  margin-bottom: 0;
}

.resume .subtitle i {
  margin-right: 5px;
}

.main-timeline {
  position: relative;
}

.main-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: var(--secondary-dark-color);
  border: 3px solid var(--main-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.resume .timeline .card {
  background: var(--secondary-dark-color);
}

.resume .timeline .card p.date,
.resume .edu-cards .card h5 {
  color: #03a67d;
}

.resume .timeline .card p.date {
  font-size: 20px;
  line-height: 2;
}

.resume .timeline .card h4,
.resume .edu-cards .card h4 {
  color: var(--white-color);
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 20px;
}

.resume .timeline .card p,
.resume .edu-cards .card p {
  color: var(--secondery-color);
  font-size: 18px;
  line-height: 1.8;
}

.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #595959;
}

.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent #595959 transparent transparent;
}

.right::after {
  left: -12px;
}

@media screen and (max-width: 600px) {
  .main-timeline::after {
    left: 31px;
  }

  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline::before {
    left: 60px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent #595959 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  .right {
    left: 0%;
  }
}

.resume .subtitle-2 {
  margin: 0;
  margin-bottom: 30px;
}

.resume .edu-cards .card {
  background: var(--secondary-dark-color);
}

/* skills */
.skills .box {
  position: relative;
  margin: 35px 0;
}

.skills .box .chart {
  color: var(--white-color);
}

.skills .box .chart span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
}

.skills .box h4 {
  color: var(--white-color);
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--white-color);
}

/* testimonials */
.testimonials .testimnoials-header {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}

.testimonials .testimnoials-header::after {
  content: "";
  display: block;
  width: 60px;
  margin-left: -30px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.testimonials .testimonials-single .testimnoials-img img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.testimonials .testimonials-single .testimnoials-img {
  position: relative;
  margin-bottom: 20px;
}

.testimonials .testimonials-single .testimnoials-img::before {
  content: "\f10d";
  font-family: FontAwesome;
  display: block;
  width: 32px;
  height: 32px;
  background: #03a67d;
  color: var(--white-color);
  line-height: 32px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 56%;
  top: 2px;
  z-index: 1;
}

.testimonials .testimonials-single h3 {
  font-family: "Berkshire Swash", cursive;
  font-size: 24px;
  color: var(--white-color);
  font-weight: normal;
  margin-bottom: 10px;
}

.testimonials .testimonials-single h4 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
}

.testimonials .testimonials-single p {
  color: var(--secondery-color);
  font-size: 14px;
  line-height: 1.8;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .testimonials .testimonials-single p {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .testimonials .testimonials-single p {
    width: 100%;
  }
}

.testimonials .swiper {
  height: 480px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .testimonials .swiper {
    height: 600px;
  }
}

@media (max-width: 991px) {
  .testimonials .swiper {
    height: 550px;
  }
}

.testimonials .swiper-slide {
  width: 100%;
}

.testimonials .pagination {
  text-align: center;
  margin-top: 20px;
}

.testimonials .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid var(--secondary-dark-color);
  opacity: 1;
  background: none;
  transition: all 0.4s;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

/* contact */
.contactus {
  /* background-image: url("../imgs/contactus.jpg"); */
  background-image: url("../imgs/contactus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .contactus {
    background-position: initial;
  }
}

.contactus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.contactus .form-group {
  margin-bottom: 1rem;
}

.contactus .contact-form .form-control {
  /* background: #222; */
  background: rgb(34 34 34 / 68%);
  border: none;
  border-radius: 0;
  height: auto;
  padding: 14px 20px;
  border: 1px solid #333;
  margin-bottom: 10px;
  resize: none;
  outline: 0;
  box-shadow: none;
  color: #fff;
}

.contactus .contact-form .form-control::placeholder {
  color: var(--secondery-color);
}

.resume .edu-cards .btn-contact,
.contactus .btn-contact {
  background: none;
  display: inline-block;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 12px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.4s;
}

.resume .edu-cards .btn-contact:hover,
.contactus .btn-contact:hover {
  background-color: #000;
  color: var(--white-color);
}

/* footer */
footer {
  padding: 50px 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li a {
  padding: 15px;
  color: var(--secondery-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

footer ul li a:hover {
  color: var(--main-color);
}

.backtotop {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
  transition: var(--main-transition);
}

.backtotop i {
  color: var(--white-color);
  background-color: #015943;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-color: var(--main-color);
}

/* navigation */
.navigation {
  position: fixed;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 1000;
  left: 50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (max-width: 767px) {
  .navigation {
    left: 50%;
  }
}

.navigation ul {
  flex-direction: column;
  text-align: center;
}

@media (max-width: 767px) {
  .navigation ul {
    flex-direction: row;
  }
}

.navigation ul li a {
  color: var(--secondery-color);
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.navigation ul li a:hover {
  color: var(--main-color);
}

.navigation ul li a i {
  padding: 15px;
}
