@import "../../variables";

.blogs-filter {
  padding: 60px 20px;
  .filter {
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    z-index: 1000;
    background-color: transparent;
    padding: 10px 20px;
  }
}
