@import '../../../../styles/variables';

.more-about-me-title {
  color: $white-color;
  border-bottom: 1px solid $main-color;
  width: fit-content;
  margin-bottom: 30px;
  font-size: 25px;
  padding: 0 0 5px;
}
