@import "../../variables";

footer {
  padding: 50px 0;
  @media (max-width: 767px) {
    footer {
      padding-bottom: 80px;
    }
  }
  ul {
    li {
      a {
        padding: 15px;
        color: $secondary-color;
        transition: $main-transition;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
