@import "../../../styles/variables";

.main_title {
  padding-bottom: 20px;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    margin-left: -30px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-bottom: 10px dotted $main-color;
  }
  h2 {
    font-family: "Berkshire Swash", serif;
    color: $main-color;
    font-size: 36px;
  }
}
