@import "../../variables";

.services {
  padding: 60px 20px;
  .container > .row {
    @media (max-width: 991px) {
      margin-top: 100px;
      padding-top: 50px;
    }
  }
  .section-title {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 991px) {
      position: absolute !important;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
    }
  }
  .service {
    padding: 10px;
    .service-header {
      svg {
        font-size: 40px;
        color: $white-color;
        display: block;
        margin: 0 auto 20px auto;
      }
    }
    .service-body {
      h4 {
        font-size: 20px;
        color: $white-color;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
      }
      p {
        color: $secondary-color;
        @media (max-width: 991px) {
          text-align: center;
        }
      }
    }
  }
}
