@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  padding: 0 !important;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
body {
  background-color: #050505 !important;
  width: 85%;
  margin: 0 auto !important;
  // @media (max-width: 991px) {
  //   & {
  //     width: 100% !important;
  //   }
  // }
  @media (max-width: 991px) {
   width: 100% !important;
  }
}
