@import "../../../styles/variables";

.my_resume {
  padding: 60px 20px;
  .subtitle {
    color: $white-color;
    font-size: 18px;
    background: #015943;
    padding: 14px 20px;
    text-transform: uppercase;
    margin: 0 auto 50px;
    font-weight: normal;
    width: fit-content;
    position: relative;
  }
  .main_timeline {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      background-color: $main-color;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
    }
    @media screen and (max-width: 600px) {
      &::after {
        left: 31px;
      }
    }
    .timeline {
      position: relative;
      background-color: inherit;
      width: 50%;

      @media screen and (max-width: 600px) {
        width: 100%;
        padding-left: 70px !important;
        padding-right: 25px !important;
        left: 0 !important;
        &::before {
          left: 60px !important;
          border: medium solid $main-color !important;
          border-width: 10px 10px 10px 0 !important;
          border-color: transparent #595959 transparent transparent !important;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: $secondary-dark-color;
        border: 3px solid $main-color;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      @media screen and (max-width: 600px) {
        &::after {
          left: 18px !important;
        }
      }

      &.left {
        padding: 0px 40px 20px 0px;
        left: 0;
        &::before {
          content: " ";
          position: absolute;
          top: 18px;
          z-index: 1;
          right: 30px;
          border: medium solid $main-color;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent #595959;
        }
        @media screen and (max-width: 600px) {
          &::before {
            right: auto;
          }
        }
        &::after {
          @media screen and (max-width: 600px) {
            &::after {
              left: 18px;
            }
          }
        }
      }
      &.right {
        padding: 0px 0px 20px 40px;
        left: 50%;
        @media screen and (max-width: 600px) {
          .right {
            left: 0%;
          }
        }
        &::before {
          content: " ";
          position: absolute;
          top: 18px;
          z-index: 1;
          left: 30px;
          border: medium solid $main-color;
          border-width: 10px 10px 10px 0;
          border-color: transparent #595959 transparent transparent;
        }
        &::after {
          left: -12px;
          @media screen and (max-width: 600px) {
            &::after {
              left: 18px;
            }
          }
        }
      }
    }
  }

  .card {
    background: $secondary-dark-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    .date {
      color: #03a67d;
      font-size: 20px;
    }
    h4 {
      color: $white-color;
      font-weight: normal;
      font-size: 18px;
    }
    .role {
      color: $secondary-color;
      font-size: 18px;
    }
  }

  .custom_btn {
    background: none;
    width: fit-content;
    border: 1px solid $main-color;
    color: $main-color;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: all $main-transition;

    &:hover {
      background-color: $black-color;
      color: $white-color;
    }
  }
}
