@import "../../../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.header {
  padding: 30px 20px;
  .header_container {
    padding: 5px 15px;
    border-radius: 65px;
    background-color: $dark-color;
  }

  .profile_img {
    width: 68px;
    border-radius: 50%;
    display: block;
  }

  .info {
    h1 {
      font-size: 18px;
      color: $white-color;
      span {
        font-family: "Berkshire Swash", serif;
        color: $main-color;
      }
    }
    .name {
      color: $white-color;
      font-size: 16px;
      line-height: 19px;
      span {
        display: block;
      }
    }
  }

  .availability {
    border: 1px solid;
    text-align: center;
    padding: 5px 20px 5px 22px;
    position: relative;
    border-color: $main-color;
    border-radius: 11px;
    p {
      margin: 0;
      color: #bababa;
    }
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $main-color;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  .social_links {
    a {
      padding: 6px;
      font-size: 20px;
      color: #bababa;
      transition: all $main-transition;
      &:hover {
        color: $main-color;
      }
    }
  }
}
