@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  --white-color: #ffffff;
  --black-color: #000;
}

.font-custom {
  font-family: "Berkshire Swash", serif;
}
