@import "../../variables";

.skills {
  padding: 60px 20px;
  background-color: $dark-color;
  border-radius: 50px;
  .technical-skills {
    @media (max-width: 467px) {
      .skills .technical-skills {
        flex-direction: column;
      }
    }
  }

  .skill {
    border: 1.7px solid rgba(0, 200, 150, 0.637);
    border-radius: 5px;
    margin: 15px;
    opacity: 0.9;
    transition: all 0.4s ease 0s;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border-color: $main-color;
      transform: scale(1.05);
    }
    img {
      max-width: 100%;
    }
  }
}
