@import "../../variables";

.more-about-me-link {
  display: block;
  margin-bottom: 20px;
  background-color: $white-color;
  padding: 4px 8px;
  border-radius: 5px;
  text-align: center;
  background-color: $secondary-dark-color;
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover span svg {
    transform: translateX(5px);
  }
  span {
    margin-top: 3px;
    margin-left: 8px;
    font-size: 14px;
    svg {
      transition: 0.5s all;
    }
  }
}
.projects {
  .more-about-me-link {
    margin-top: 30px;
  }
}
.blogs{
  .more-about-me-link{
    margin-top: 30px;
  }
}
